/* *{ margin: 0; padding: 0; text-decoration: none;}
        body {
         padding: 20px;
         }
        #container { width: 600px; height: 400px; border: 3px solid #333; overflow: hidden; position: relative;}
        #list { width: 4200px; height: 400px; position: absolute; z-index: 1;}
        #list img { float: left;width: 600px;}
        #buttons { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 250px;}
        #buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
        #buttons .on {  background: orangered;}
        .arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 180px; background-color: RGBA(0,0,0,.3); color: #fff;}
        .arrow:hover { background-color: RGBA(0,0,0,.7);}
        #container:hover .arrow { display: block;}
        #prev { left: 20px;}
        #next { right: 20px;}*/
 *
{
    margin: 0; 
    padding: 0; 
    text-decoration: none;
}
body
{
    padding: 20px;
}
#container
{   position: relative;
	overflow: hidden; 

    width: 600px; height: 400px; border: 3px solid #333;
}
#list
{   position: absolute;
    z-index: 1;
    width: 4200px; 
    height: 400px;
}
#list img
{
    float: left;
    width: 600px;
}
#buttons
{
    position: absolute; 
    z-index: 2; 
    bottom: 20px; 
    left: 250px;
    width: 100px;
     height: 10px;
}
#buttons span
{float: left; 
	width: 10px;
	height: 10px;
	margin-right: 5px;

    cursor: pointer; 
    border: 1px solid #fff;
     border-radius: 50%; 
     background: #333;
}
#buttons .on
{
    background: orangered;
}
.arrow
{font-size: 36px; 
	font-weight: bold; 
	line-height: 39px;
	position: absolute; 
	z-index: 2; 
	top: 180px; 
	display: none;
	 width: 40px; 
	 height: 40px;  

    cursor: pointer; 
    text-align: center; 
    color: #fff;
    background-color: RGBA(0,0,0,.3);
}
.arrow:hover
{
    background-color: RGBA(0,0,0,.7);
}
#container:hover .arrow
{
    display: block;
}
#prev
{
    left: 20px;
}
#next
{
    right: 20px;
}
