.container{
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	margin: auto;
	height: 300px;
	width: 300px;
	background: gray;
	overflow: hidden;
}
.circle-1{
	position: absolute;
	top:-50px;
	left: -50px; 
	width:100px;
	height: 100px;
	border-radius: 50px;
	background: red;
}
.circle-2{
	position: absolute;
	bottom:-50px;
	right: -50px; 
	width:100px;
	height: 100px;
	border-radius: 50px;
	background: red;
}